
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Reddit+Mono:wght@200..900&display=swap');
.body{
	font-style: normal;
}

.Blog{
	display: flex;
	margin: auto;
	max-width: 70%;
	padding: 20px;
	overflow-wrap: break-word;
	flex-direction: column;
	font-family: "PT Mono", monospace;

	&Title{
		align-items: center;
		font-size: 21;
		display: flex;
		align-items: center;
		justify-self: center;
		flex-direction: column;

		&Name{
			font-weight: 300;
			margin: 21px 0;
		}
		&Subtitle{
			font-weight: 200;
			color: #a4a4a4;
			margin: 12px 0;
		}
	}

	&Headerposts{
		color: #a4a4a4;
		margin: 18px 0;
		text-align: center;
	}

	&Description{
		p {
			margin: 16px 0;
			color: #efefef;
		}
	}

	&Content{
		line-height: 1.6rem;

		&Post{
			&Header{
				display: flex;

				a{
					text-decoration-thickness: 0.2rem;
					text-underline-offset: 0.2rem;
					text-decoration-color: #eb4888;
				}
				a:hover{
					text-decoration-color: #24d05a;
				}
				&Title{
					font-size: 19px;
					font-weight: 400;
					text-decoration: underline;
				}
				&Date{
					padding: 0 12px;
					font-style: italic;
					color: #a4a4a4;
				}
			}
			
		}
	}
}

