
.Blog{
	display: flex;
	margin: auto;
	max-width: 70%;
	padding: 20px;
	flex-direction: column;
	font-family: "PT Mono", monospace;
	}

.BlogHeaderposts{
		color: var(--light-gray-color);
		margin: 18px 0;
		text-align: center;
	}

.BlogDescription{
		margin-top: 1rem;
		p {
			padding:  0 0 16px 0;
			color: #efefef;
			text-align: justify;
		}
	}


.Blog{
	&Content{

		&Post{
			margin-top: 1rem;

			&Header{
				display: flex;

				a{
					text-decoration-thickness: 0.2rem;
					text-underline-offset: 0.2rem;
					text-decoration-color: var(--pink-color);
				}
				a:hover{
					text-decoration-color: var(--green-color);
				}
				&Title{
					font-size: 19px;
					font-weight: 400;
					text-decoration: underline;
				}
				&Date{
					padding: 0 12px;
					font-style: italic;
					color: var(--light-gray-color);
				}
			}
			
		}
	}

}

.Post{
	margin: 1rem 0;

	&Date{
		margin-top: 1rem;
		color: var(--light-gray-color);
		font-style: italic;
	}

	&Title{
		font-size: 21;
		text-align: center;
		text-decoration: underline ;
		text-decoration-color: var(--purple-color);
		text-underline-offset: 0.2rem;
		text-decoration-thickness: 0.2rem;

	}
}

.PostContent{
	margin-top: 1rem;
	word-wrap: break-word;
	overflow-wrap: break-word;
}